<section id="images">
    {{#each images}}
        <div class="image-container" author="{{this.author}}">
            <img class="image" src="images/{{this.file}}" alt="A profile picture by {{this.author}}" height="200px" width="200px">
            <div class="textbox">
                <p class="font-sansita image-text image-name">{{this.name}}</p>
                <p class="font-sansita image-text image-author">by {{this.author}}</p>
                <p class="font-sansita image-text image-date">{{this.date}}</p>
            </div>
        </div>
    {{/each}}
</section>

<div id="images-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <span class="close" data-dismiss="modal">&times;</span>
    <div class="images-modal-content">
        <img id="images-modal-image" class="imagepreview" src="">
    </div>
</div>