<!DOCTYPE html>
<html>
    <head>
        <title>Draw me a Tintin</title>
        <!-- JQuery -->
        <script
                src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous">
        </script>
        <!-- Bootstrap -->
        <link   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" 
                integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
                crossorigin="anonymous">
        <link   href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" 
                integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 
                crossorigin="anonymous">
        <link   href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css" rel="stylesheet" 
                integrity="sha384-S7YMK1xjUjSpEnF4P8hPUcgjXYLZKK3fQW1j5ObLSl787II9p8RO9XUGehRmKsxd" 
                crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
                crossorigin="anonymous">
        </script>

        <link href='http://fonts.googleapis.com/css?family=Sansita+One' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="static/style/index.css">
    </head>
    <body>
        <header>
            <h1>Draw me a Tintin</h1>
            <figure class="image-container-header modalable" tabindex="{{TabIndex 1}}">
                <img class="image" src="static/image/original.png" alt="Original profile picture by Kingdom Rush">
                <figcaption class="textbox">
                    <p id="name" class="text">Original</p>
                    <p id="author" class="text">by Kingdom Rush</p>
                </figcaption>
            </figure>
            <div class="input-group search">
                <span class="input-group-addon" id="search-addon"><span id="search-icon" class="fa fa-search"></span></span>
                <input id="author-search" type="text" class="form-control" placeholder="Auteur" tabindex="{{TabIndex}}">
            </div>
        </header>
        <section id="section">
            <div id="section-control">
                <ul class="nav nav-pills">
                    <li id="images-button" class="active"><a href="#" tabindex="{{TabIndex}}">Images</a></li>
                    <li id="resources-button"><a href="#" tabindex="{{TabIndex}}">Ressources</a></li>
                </ul>
            </div>
            <div id="images" class="images">
                {{#each images}}
                    <figure class="image-container modalable" author="{{this.author}}" tabindex="{{TabIndex}}">
                        <img class="image" src="images/{{this.file}}" alt="A profile picture by {{this.author}}" height="200px" width="200px">
                        <figcaption class="textbox">
                            <p id="name" class="text">{{this.name}}</p>
                            <p id="author" class="text">by {{this.author}}</p>
                            <p id="date" class="text">{{this.date}}</p>
                        </figcaption>
                    </figure>
                {{/each}}
            </div>
            <div id="resources" class="images">
                {{#each resources}}
                    <figure class="resource-container modalable" author="{{this.author}}" tabindex="{{TabIndex}}">
                        <img class="image" src="resources/{{this.file}}" alt="A profile picture by {{this.author}}" height="200px" width="200px">
                        <figcaption class="textbox">
                            <p id="name" class="text">{{this.name}}</p>
                            <p id="author" class="text">by {{this.author}}</p>
                            <p id="date" class="text">{{this.date}}</p>
                        </figcaption>
                    </figure>
                {{/each}}
            </div>
            <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">              
                        <div class="modal-body">
      	                    <button type="button" class="close" data-dismiss="modal">
                                  <span aria-hidden="true">&times;</span>
                                  <span class="sr-only">Close</span>
                            </button>
                            <div id="modal-info">
                                <img src="" class="imagepreview">
                                <p id="name" class="text">{{this.name}}</p>
                                <p id="author" class="text">{{this.name}}</p>
                                <p id="date" class="text">{{this.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script src="static/script/index.js"></script>
    </body>
</html>